@keyframes zlewa{
    from{
        transform: translateX(-500px);
        opacity: 0;

    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes produkty{
    0%{
        transform: translateX(700px);
        opacity: 0;
    }
    20%{
        opacity: 1;
        transform: rotate(0deg);
    }   
    40%{
        transform: rotate(360deg);
    }
    60%{
        transform: translateX(100px);
        transform: translateY(100px);
    }
    80%{
        transform: translateX(100px);
        transform: translateY(-100px);
        transform: rotate3d(0, 1, 0, 0deg);
    }
    100%{
        transform: rotate3d(0, 1, 0, 360deg);
    }
}
@keyframes zprawa{
    from{
        transform: translateX(700px);
        opacity: 0;

    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
